*.class
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Packege Files #
*.jar
*.war 
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/
hs_err_pid*

/youronlineshopping/target/
/yourshoppingbackend/target